doctype html
html
    head
        title Liste des élèves
    body
        ul
            for eleve in listeEleves
                //li= eleve
                li 
                    a(href="/eleve/"+ eleve.id)= eleve

        a(href='/eleve/') Créer un élève
