doctype html
html
    head
        title "Gestion des notes"
    body
        h1 Bienvenue sur la page d'accueil
        hr
        a(href='/eleves') Liste des élèves
        br
        a(href='continuer') Continuer
