extends layout

block content
    if typeof(message) != 'undefined'
        label= message
    else
        mixin myForm(meth)
            form(method=meth)
                mixin fact(lbl,nam)
                    label= lbl
                    INPUT(type='text' name=nam)
                    br
                +fact('nom','newName')
                +fact('prenom','newFirstName')
                INPUT(type='submit' value='valider')
        +myForm('post')
    br
    a(href='/') retour 