extends layout
include mixinList.pug

block content
  h1= title
  p Welcome to #{title}
  //+list(results)
  mixin list(items)
    ul
      each item in items
        li= item.Nom+"/"+item.Prenom
  +list(allusers)
  a(href='/') retour 