doctype html
html
    body
        form(action='/eleve' method='post')
            label NOM&nbsp;
            input(name='Nom' value='Mickey')
            br 
            br
            label PRENOM&nbsp;
            input(name='Prenom' value='Mouse')
            br 
            br
            input(type ='submit' value = 'Submit')