html
    doctype html
    head
        title Gestion des élèves
    
    body
        h1= message

        ul
            li
                a(href='/eleves') Visualiser les élèves
            li     
                a(href='/eleve') Ajouter un élève
