html
    body
        form(method='post')
            label(for='nom') nom:
                input(type='text',name='nom')
                br
                label(for='prenom') prenom :
                input(type='text',name='prenom')
                br
                input(type='submit')
        
        if typeof(nomRetour) != 'undefined'
            label(for='nom')= nomRetour
            br
            label(for='nom')= prenomRetour
            a(href='/page2') Page suivante