doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    br
    hr
    br
    a(href='/') Accueil
    br
    a(href='/users') Liste des élèves
    br
    a(href='/users/add') Ajouter un élève
    br
    a(href='/notes') Liste des notes