doctype html
html
    body
        mixin form(action, method ,nom, prenom)
            form(action= action method= method)
                label NOM&nbsp;
                input(name= nom value='Mickey')
                br 
                br
                label PRENOM&nbsp;
                input(name= prenom value='Mouse')
                br 
                br
                input(type = 'submit' value = 'Submit')  
        if typeof(eleve) != "undefined"
            label Eleve cree&nbsp
            label= "Nom : " + eleve.nom + ' '
            label= "Prenom : " + eleve.prenom + ' '
            br
            br
            br
        a(href='eleve') Eleve mise à jour
        br
        br 
         a(href='eleveListe') Eleve mise à jour
        br
        br 
        +form('eleve' , 'post', 'Nom', 'Prenom')    