html
    head
        title saisie eleve
    body

        if typeof(eleve) != "undefined" 
            label= eleve.nom
        else
            mixin myForm(meth)
                form(method=meth)
                    mixin fact(lbl,nam)
                        label= lbl
                        INPUT(type='text' name=nam)
                        br
                    +fact('nom','newName')
                    +fact('prenom','newFirsName')
                    INPUT(type='submit' value='valider')
            +myForm('post')
        br
        a(href='/') retour 