html
    body
        form(method='post')
            label(for='nom') nom:
            input(type='text',name='nom')
            br
            label(for='prenom') prenom :
            input(type='text',name='prenom')
            br
            input(type='submit')
