doctype html
html
    body
        mixin form(action, method ,nom, prenom)
            form(action= action method= method)
                label NOM&nbsp;
                input(name= nom value='Mickey')
                br 
                br
                label PRENOM&nbsp;
                input(name= prenom value='Mouse')
                br 
                br
                input(type = 'submit' value = 'Submit')  
        
        +form('add' , 'post', 'Nom', 'Prenom')    