html
    head
        title saisie eleve
    body
        form(method='post')
            label nom
            INPUT(type='text' name='newName')
            br
            label prenom
            INPUT(type='text' name='newFirstname')
            br
            INPUT(type='submit' value='valider')