head
    title Super appli de gestion des notes
    style(type='text/css').
                .rouge {
                    color: white;
                    background-color: red;
                }
                #footer {
                    font-style: italic;
                }
                .eleve {
                    background-color: lightgray;
                    font-weight: bold;
                }