doctype html
html
    head
        title "Liste des élèves"
    body
        ul
            for eleve in listeEleves
                li= eleve
                //a(href="/eleve/'+ eleve.id +'">'+ eleve.toString()+'</a><br>'
