html
    body
        label "le nom de l élève est :"
        label(for='nom')= nomRetour
        br
        label "le prenom de l eleve est :"
        label(for='nom')= prenomRetour
        br
        a(href='/') Home